h1{
    text-align: center;
    

}

p{
    color: pink;
    font-size: 22px;
    /* la taille */
    font-family: Arial, Helvetica, sans-serif;
    /* la police   deferente ecriture*/
    font-weight: bold;
    /* rendre le text en gras */
}